/* SideBarCart.css */
.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: rgb(241, 236, 231);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-x: auto;
}
.sidebar .sidebar-header{
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-bottom: 1px solid gray;
  padding: 20px;


}

.sidebar .sidebar-header h2{
  color: black;
  font-size: 25px;
  margin: 0;
}
.close-shopping-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(224, 159, 73);
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.close-shopping-cart:hover {
  background-color: rgb(224, 159, 73);
  color: aliceblue;
}

.empty-cart-Img img {
  width: 100%;
}
.empty-cart-Img button {
  font-size: large;
  padding: 20px;
  background-color: blanchedalmond;
  color: rgb(224, 159, 73);
}
.empty-cart-Img button:hover {
  background-color: rgb(224, 159, 73);
  color: aliceblue;
}

.cart-elements {
  margin-bottom: 20px;
}


.cart-btn {
  width: 120px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 50px;
  font-size: large;
}
.cart-btn:hover {
  background-color: rgb(224, 159, 73);
  color: white;
}

.sidebar .cart-element {
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap:20px;
}
.cart-element p{
  color: rgb(224, 159, 73);

}
.cart-element button {
  border: none;
}

.cart-element img {
  width: 50px;
  height: 50px;
}
.cart-element button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid beige;
  border-radius: 50px;
  color: rgb(224, 159, 73);
  background-color: rgb(246, 243, 243);
}
.cart-element button:hover {
  background-color: rgb(224, 159, 73);
  color: aliceblue;
}

.sidebar-footer .total-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.sidebar-footer span {
  color: rgb(224, 159, 73);
  font-size: large;
}

@media only screen and (max-width: 900px) {
  .sidebar {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}
